<div class="main-menu">
    <ng-container *ngFor="let mono of menuDetails">

        <!-- ============= Start Main Nav-Menu ================= -->
        <button *ngIf="mono.diMenu != undefined && mono.diMenu.length > 0" class="matt-button-light menu-main" mat-menu-item [matMenuTriggerFor]="aboveMenu">
            {{mono.name}}
        </button>
        <button *ngIf="mono.diMenu == undefined || mono.diMenu.length == 0" class="matt-button-light" mat-menu-item>
            {{mono.name}}
        </button>
        <!-- ============= End Main Nav-Menu ================= -->

        <!-- ============= Start Child Menu & SubChild Menu======================= -->
        <mat-menu #aboveMenu="matMenu" yPosition="below">
            <ng-container *ngFor="let di of mono.diMenu">

                <!-- --------- Start Child Menu ----------- -->
                <button *ngIf="di.triMenu.length > 0" mat-menu-item [matMenuTriggerFor]="levelTwo">
                    <span>{{di.name}}</span>
                </button>

                <button *ngIf="di.triMenu.length == 0" mat-menu-item>
                    <span>{{di.name}}</span>
                </button>
                <!-- --------- End Child Menu ----------- -->

                <!-- --------- Start Sub-Child Menu ----------- -->
                <mat-menu #levelTwo="matMenu">
                    <ng-container *ngFor="let tri of di.triMenu">
                        <button class="p-0" mat-menu-item>
                            <a class="nav-link">{{tri.name}}</a>
                        </button>
                    </ng-container>
                </mat-menu>
                <!-- --------- End Sub-Child Menu ----------- -->

            </ng-container>
        </mat-menu>
        <!-- ============= End Child Menu & SubChild Menu======================= -->

    </ng-container>
</div>